<h3 style='width: 100%; text-align: center; margin: 0; padding: 0;'>
<span><%= params['devid'] || "=^.^=" %></span>
</h3>

<textarea id='stdout' style='width: 100%; height: 80vh; color: white; background-color: black;' disabled></textarea> 

<h3 style='width: 100%; text-align: center; margin: 0; vertical-align: middle;'>
    <input type='text' id='stdin' style='width: 85%;' placeholder=''>
    <button class='material-icons' id='send' style='color: gold; font-size: large;'>send</button>
</h3>

<script>
<%= APP.erb :js %> 
$("#stdin").attr('placeholder', pt);
stdout("[CAT] DEVICE MANAGER")
stdout("[CAT] loaded at <%= Time.now.utc %>");
stdout("[CAT] a simple device manager.");
stdout("[CAT] inspired by my cat. (c) 2023")
stdout("[CAT] usage: [=|:|#|?]&lt;key&gt; [value]");
prompt();
</script>
