    <title><%= @app[:title] || 'Z4' %></title>
    <style>
    html { width: 100vw; height: 100vh; margin: 0; padding: 0; text-align: center; }
body { width: 99vw; height: 99vh; margin: 0; padding: 0; text-align: center; }
#form { width: 98vw; height: 98vh; margin: 0; padding: 0; text-align: center; }
h1 { margin: 0; padding: 0; }
#bg { width: 100vw; height: 100vh; z-index: -10; position: fixed; top: 0; left: 0; }
.material-icons { vertical-align: middle; }
</style>

<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- badges -->
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

<!-- mqtt broker -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.1.0/paho-mqtt.js'></script>

    <!-- jquery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

    <!-- qr generator/scanner -->
<script src="https://cdn.jsdelivr.net/npm/jquery.qrcode@1.0.3/jquery.qrcode.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jsqr@1.4.0/dist/jsQR.min.js"></script>
