<% @h = Hash.new { |h,k| h[k.to_sym] = params[k] } %>
<% ['areas', 'types', 'affluence', 'returns', 'scans'].each { |e| if params.has_key?(e); @h[e]; end } %>

<h1 style="text-align: center; color: white; background-color: black;">places</h1>
<ol>
<% HERE.filter(@h) do |e| %>
<li style='width: 100%;'><%= e.for %></li>
<% end %>
</ol>
