<% @chan = DB[:chan][params['chan']] %>

<span style='float: right; vertical-align: middle; border-radius: 0 0 0 50px; padding: 0 0 0 5%; border: thin solid <%= CORE.color("#{@chan[:xp]}".length) %>;'><%= @chan[:name] %></span>
